$blue: #60a7fc;
$light-blue: #b9d9ff;
$gray: #f3f3f3;
$dark-gray: #212121;
$black: #000000;
$white: #ffffff;
$pink: #ED8292;


.landing {
  background-color: $gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0;
    padding: 2em 0;
    font-size: 3em;
  }

  &__text {
    font-size: 2em;
    margin: 2em 0;
  }

  &__button {
    padding: 0.75em 2.5em;
    margin: 2em 0;
    font-size: 1.25em;
    font-weight: bold;
    border: 2px solid $blue;
    background-color: $white;
    border-radius: 0.5em;
    cursor: pointer;

    &:hover {
      background-color: $blue;
    }
  }
}
