$blue: #00bfff;
$light-blue: #e5f9ff;
$gray: #f3f3f3;
$black: #000000;
$white: #ffffff;

.recommender {
  background-color: $black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.loading {
  &__message {
    color: $white;
  }
}

.loader {
  border: 1em solid $gray;
  border-top: 1em solid $blue;
  border-radius: 50%;
  width: 7.5em;
  height: 7.5em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    color: $white;
  }
  &__tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__recommended {
      flex: 0 0 25%;
    }
  }

  &__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 25%;
    border: 2px solid $blue;
    margin: 1.25em;
    padding: 1.25em;
    background-color: $light-blue;

    &__selected {
      background-color: $blue;
    }

    &__unselected {
      cursor: pointer;
      &:hover {
        background-color: $blue;
      }
    }

    &__remove {
      cursor: pointer;
      display: block;
      margin-top: 1.25em;
    }
  }
  &__button {
    background-color: $blue;
    color: white;
    border: 1px solid $blue;
    padding: 1.25em;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1.25em;

    &__disabled {
      opacity: 0.7;
    }
  }
}
