<div class="recommender">
  <div class="movies__selection" *ngIf="!confirmed">
    <div class="loading">
      <div *ngIf="loading$ | async" class="loader" id="loader"></div>
      <p class="loading__message" *ngIf="message">{{ message }}</p>
    </div>
    <div class="movies" *ngIf="movies.length">
      <h3 class="movies__title">Rank up to 5 of your favourite movies</h3>
      <div class="movies__tiles">
        <a
          (click)="selectMovie(movie)"
          class="movies__tile"
          *ngFor="let movie of movies"
        >
          <div class="movies__tile__wrapper">
            <div
              [ngClass]="
                selectedMovies.includes(movie) ? 'movies__tile__selected' : ''
              "
              class="movies__tile__unselected"
            >
              {{
                selectedMovies.includes(movie)
                  ? selectedMovies.indexOf(movie) + 1
                  : null
              }}
            </div>
          </div>
          <div class="movies__tile__title">{{ movie.title }}</div>
        </a>
      </div>
      <button
        [ngClass]="!selectedMovies.length ? 'movies__button__disabled' : ''"
        class="movies__button"
        (click)="confirmSelection()"
      >
        Confirm selection
      </button>
    </div>
  </div>
  <div class="movies__recommended" *ngIf="scoredMovies.length">
    <h3 class="movies__title movies__recommended__title">Recommended Films</h3>
    <div class="movies__recommended__tiles">
      <owl-carousel-o class="movies__carousel" [options]="customOptions">
        <ng-container
          *ngFor="let movie of scoredMovies | slice: 0:5; let i = index"
        >
          <ng-template carouselSlide>
            <a class="movies__recommended__tile">
              <div class="movies__recommended__heading">
                <h4 class="movies__carousel__title">{{ movie.title }}</h4>
                <p class="movies__carousel__text">{{ getYear(movie.release_date) }}</p>
                <p class="movies__carousel__text">{{ movie.runtime + " mins" }}</p>
                <p class="movies__carousel__text">{{ movie.vote_average + "/10" }}</p>
              </div>
              <p>{{ movie.overview }}</p>
              <p>{{ movieGenres(movie.genres) }}</p>
              <button
                class="movies__recommended__remove"
                (click)="removeMovie(i)"
              >
                I've already seen this
              </button>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <button class="movies__button movies__recommended__button" (click)="restart()">Restart</button>
  </div>
</div>
